
.background-combat {
    top: -10%;
    left: 00%;
    width: 800px;
    position: relative;
    
}
.div2 {
    position: absolute;
    top: 0%;
    left: 55%;
    width: 400px;
}

.div3 {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 12%;
    width: 400px;
}

